
{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}




<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">




{% for product in products %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{product.picture.url}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><h2>{{product.nombre_product}}</h2>

               {{product.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    {{product.sku}}
                      <a href="/Detall" class="btn btn-secondary my-2">Detalles Product</a>
                    </div>
                    <small class="text-muted">{{product.price}}</small>
                  </div>
                </div>
              </div>
            </div>

{% endfor %}







          </div>
        </div>
      </div>






{% endblock %}