{% extends "base.html" %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">
            <P>Hola Mundo</P>
            <form action="{% url 'Products' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

   {{ form }}
                {% if form.errors %}
                    <p class="alert alert-danger">{{ form.errors }}</p>
                {% endif %}


                <hr><br>
                 
                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>

                
            </form>


        </div>
    </div>
</div>

{% endblock %}
